# Eclipse
/**/.classpath
/**/.springBeans
/**/.project
/**/.settings/
/**/.metadata/
/**/.recommenders/
/**/build/
/**/bin/
/**/RemoteSystemsTempFiles/

# Intellij
.idea/
/**/*.iml
/**/*.iws
 
# Mac
/**/.DS_Store
 
# Maven
/**/target/
/**/deploy/

#SVN
/**/.svn/
/**/.svn


\.vscode/
